body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.topsection {
  background-color: rgba(68,137,155,1);
  background-image: url(https://ssl.gstatic.com/atari/images/simple-header-blended-small.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 0px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 1rem;
    margin-right: 1rem;
    bottom: px;
    position: relative;
    text-align: center;
    /* display: flex; */
    padding: 3px;
    font-size: 30px;
    border-radius: 500px;
    border: 1px solid white;
}

.topinf{
    display: inline-block;
    text-align: left;
}
.topinf a{
  color: white;
  text-decoration:none; 
  font-size: 20px;
}
@media (max-width: 768px) {
  .topinf a {
      display: none;
  }
}
.topinf img {
  width: 28px;
}
@media (max-width: 400px) {
  .topinf img {
      width: 20px;
  }
}

.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
@media (max-width: 400px) {
  .topnav a {
    font-size: 14px;
    padding: 4px 4px;
  }
}

.pagename {
  text-align: center;
  padding: 2rem 2rem;
}
.pagename p {
  color: #ffffff;
  font-size: 5rem;
}
@media (max-width: 700px) {
  .pagename p {
      font-size: 4rem;
  }
}
@media (max-width: 400px) {
  .pagename p {
      font-size: 2rem;
  }
}
@media (max-width: 300px) {
  .pagename {
    padding: 0.25rem 1rem;
  }
}

.pagename h1 {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: 5rem !important;
  margin: 0 !important;
}

.buttons {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  background-color: teal;
  gap: 5px; 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1096px) {
  .buttons {
    flex-wrap: wrap;
    align-items: center; 
    gap: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.button input[type="submit"] {
  background-color: white;
  color: rgba(68,137,155,1);
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0 3rem;
  font-family: inherit !important;
  font-weight: inherit !important;
}

.contents {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.contents h1{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contents p{
  font-size: 20px;
  font-weight: 400 !important;
}