.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(68,137,155,1);
    background-image: url(https://ssl.gstatic.com/atari/images/simple-header-blended-small.png);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    text-align: center;
    border: #22B14C dotted;
    border-radius: 250px;
    padding: 0.2rem;
}
@media (max-width: 500px) {
    .title {
        border-radius: 20px;
    }
  }
.banner{
    background: linear-gradient(120deg, rgba(120, 255, 120, 0.315), rgba(0, 0, 0, 0.39));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    font-size: 20px;
    text-align: center;
.tpad{
    padding: 1rem;
}
}
.abtme{
    border: 0.15rem solid;
    border-radius: 30px;
    padding: 20px;
    color: white;
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
}
.a{
    font-size: xx-large;
    text-align: center;
}
.logo{
    bottom: px;
    position: relative;
    text-align: center;
    /* display: flex; */
    padding: 3px;
    font-size: 30px;
    border-radius: 500px;
    border: 1px solid white;
}
.card{
    width: 156px;
    border-radius: 30px;
}
.bot{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.border {
    border: 2px solid white;
    padding: 3px;
    text-align: center;
    border-radius: 30px;
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
}
.projects {
    padding-top: 5px;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    transition: all 0.5s;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    color: white;
    border: 1px solid;
    padding-bottom: 30px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    backface-visibility: unset;
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
}

.light {
    --x: -100%;
    --y: -100%;
    background: radial-gradient(circle at var(--x) var(--y), rgb(255 255 255 / 18%) 10%, transparent 20%);
    transition: background 0.1s;
    width: 100%;
}
.content {
    position: relative;
    color: white;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.projects:hover {
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 40%);
    border: 1px solid #fff;
    backdrop-filter: blur(12px);
    border-radius: 60px;
}
.abtme:hover {
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 16%);
    border-radius: 60px;
    backdrop-filter: blur(12px);
}