.body{
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    background: linear-gradient(120deg, rgba(120, 255, 120, 0.315), rgba(0, 0, 0, 0.39));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    font-size: 20px;
    text-align: center;
.tpad{
    padding: 1rem;
}
}
.stuffs{
    background-color: #22B14C;
    text-align: center;
    border: #000 0.15rem solid;
    border-radius: 8px;
    padding: 0.2rem;
    
}
.container.stuffs{
    color: white;
    border: 1px solid;
    padding-bottom: 30px;
    border-radius: 30px;
    backface-visibility: unset;
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
}
.stuffs:hover {
    border-radius: 60px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 36%);
}
.box{
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 36%);
    border-color: #000;
    border-width: 1rem;
}
.light {
    --x: -100%;
    --y: -100%;
    background: radial-gradient(circle at var(--x) var(--y), rgb(255 255 255 / 18%) 10%, transparent 20%);
    transition: background 0.1s;
    width: 100%;
}
.logo{
    bottom: px;
    position: relative;
    text-align: center;
    /* display: flex; */
    padding: 3px;
    font-size: 30px;
    border-radius: 500px;
    border: 1px solid white;
}
