.body{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    text-align: center;
    border: #22B14C dotted;
    border-radius: 550px;
    padding: 0.2rem;
    height: 150px;
}
.top{
    background: linear-gradient(120deg, rgba(120, 255, 120, 0.315), rgba(0, 0, 0, 0.39));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    font-size: 20px;
    text-align: center;
.tpad{
    padding: 1rem;
}
}
.abtme{
    border: 0.15rem solid;
    border-radius: 30px;
    padding: 20px;
    color: white;
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
}
.projects{
    background-color: #22B14C;
    text-align: center;
    border: #000 0.15rem solid;
    border-radius: 8px;
    padding: 0.2rem;
    
}
.a{
    font-size: xx-large;
    text-align: center;
}
.logo{
    bottom: px;
    position: relative;
    text-align: center;
    /* display: flex; */
    padding: 3px;
    font-size: 30px;
    border-radius: 500px;
    border: 1px solid white;
}
.container.projects{
    color: white;
    border: 1px solid;
    height: 370px;
    border-radius: 30px;
    backface-visibility: unset;
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
}
.card{
    width: 156px;
    border-radius: 30px;
}
.bot{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.border {
    border: 2px solid white;
    padding: 3px;
    text-align: center;
    border-radius: 30px;
    transition: border-radius 0.200s ease-in-out;
    backdrop-filter: blur(5px);
    background: linear-gradient(120deg, rgba(255, 123, 255, 0.39), rgba(120, 255, 120, 0.315));
}
.projects:hover {
    border-radius: 60px;
    backdrop-filter: blur(12px);
}
.abtme:hover {
    border-radius: 60px;
    backdrop-filter: blur(12px);
}
